<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BrandlessMyGet" value="https://www.myget.org/F/brandless/api/v2/" />
    <add key="Brandless" value="https://brandless-nuget.azurewebsites.net/nuget/" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
  </packageSources>
</configuration>
